/*---------------------------------------------------------------------MAIN CSS---------------------------------------------------------------------------------------------------*/

*{
  box-sizing: border-box;
}

:root{
  --primarycolor:#d200a2;
  --secondarycolor:	#a6a6a6;
}

span{
  font-family: 'Rubik', sans-serif;
}

/*--------------------------------------------------------------------HEADER CSS--------------------------------------------------------------------------------------------------*/

header{
  background-size: cover; 
  background-position: center;
  height:100vh;
  background-image: url(../inl-2-kundprojekt-TessDevon/assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg);
  display: flex;
}

.header_cube{
  border: 5px solid black;
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 200px;
  height: 225px;
}

h1{
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin-top: 10px;
}

.header_link{
text-decoration: none;
color: black;
margin-left: 10px;
}
  
.link_text, .link_arrow{
text-decoration-color: black;
}

.link_arrow{
  position: relative;
}

.header_link:hover .link_arrow{
  left: 40px;
  transition: all 3s ease-in-out;
}

/*-------------------------Menu------------------*/

button{
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 0;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 2;
  pointer-events: none;
}

button span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  border-radius: 4px;
  margin-bottom: 4px;
}

input{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 35px;
  height: 35px;
  opacity: 0;
}

.menu2{
  position: relative;
  left: -5px;
}

.menu-button:hover .menu2{
left: 0;
transition: all 1s ease-in-out;
}

/*-----hovern fungerar inte på menyn. Krockar någonstans? Går på de andra ställena..*/

input:checked + .menu button span{
  position: absolute;
  transition: all 0.5s ease-in-out;
}

input:checked + .menu button span:nth-child(2){
  opacity: 0;
}
input:checked + .menu button span:nth-child(1){
  transform: rotate(45deg);
}
input:checked + .menu button span:nth-child(3){
  transform: rotate(-45deg);
}

.nav_menu{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;
}

input:checked + .menu nav {
  visibility: visible;
  opacity: 1;
}

.ul_menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  text-align: center;
}

.a_menu{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: 'Rubik', sans-serif;
}

 
/*----------------------------------------------------------------main css-------------------------------------------------------------------------------------------------------*/

.citat_desk{
  visibility: hidden;
}

blockquote{
  padding: 0;
  margin: 0;
  color: white;
  position: relative;
  &::before, &::after {
    content: "";
    display:block;
    color: white;
    position:absolute;

  }
}


/*-------Får inte rätt på citattecknen med denna kod som fanns i filmen?--------*/


main{
  background-size: cover; 
  background-position: center;
  height:100vh;
  background-image: url(../inl-2-kundprojekt-TessDevon/assets/photos/raphael-nogueira-svbDI1Pq30s-unsplash.jpg);
  
}

/*
.darkness{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(13, 13, 13, 0.7);
  z-index: 1;
}
-----------Försök till att mörka ner bakgrunden.
*/

h2, h3, p{
  color: white;
}



.div_h2{
  display: flex;
}

.main_1h2{
  font-size: 4rem;
  display: block;
  position: relative;
  z-index: 1;
/*  text-shadow: 1px black; ----- kolla skuggor----  */
}


.main_2h2{
  color: var(--secondarycolor);
  font-size: 4rem;
  position: relative;
  top: -40px;
  left: 120px;
  font-family: 'Times New Roman', Times, serif;
}
/*
p{
  margin-top: 8rem;
  margin-bottom: 8rem;
}

/*
  h1{
  font-family: 'Rubik', sans-serif;
  }

Exempel på hur man använder var
  .p-dark{
  color: var(--dark);
}

.p-gold{
  color:var(--primarycolor)
}

------------ Till deskviewen sen-------
*/

@media screen and (min-width:800px){

main{
  display: flex;
  .left_part, .right_part{
    width: 50%;
    gap: 100px;
  }
}

/*-----------------Gap fungerar inte-----------------*/

}

.citat_desk{
  visibility: hidden;
}


