@import 'normalize';

@charset "UTF-8";

/*-------------------------------------------------------------------------------
---------------------------------------------MAIN CSS----------------------------
---------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

:root {
  --primarycolor:#d200a2;
  --secondarycolor:	#a6a6a6;
}

span {
  font-family: "Rubik", sans-serif;
}

.tom_arrow {
  visibility: visible;
}

.qoute_desk {
  display: none;
}

.major_tom {
  display: none;
}

/*------------------------------------------------------------------------------
--------------------------------------------HEADER CSS--------------------------
--------------------------------------------------------------------------------*/
header {
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: url("assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg");
  display: flex;
}

.header_cube {
  border: 5px solid black;
  position: absolute;
  top: 10vh;
  left: 5vw;
  width: 30vw;
  min-width: 250px;
  min-height: 290px;
  height: 28vw;
  background-color: rgba(255, 255, 255, 0.6);
}

h1 {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 25px;
  font-size: 55px;
}

.header_span_link {
  position: relative;
  left: 5vw;
}

.header_link {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.link_arrow {
  position: relative;
  transition: all 1s ease-in;
  left: 0;
}

.header_link:hover .link_arrow {
  left: 40px;
}

/*--------------------------------------------------------------------------------
-----------------------------------------MENU------------------------------------
----------------------------------------------------------------------------------*/
.menu-button {
  width: 65px;
  height: 65px;
  background-color: transparent;
  border: 0;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 7;
  pointer-events: none;
}

.menu-button span {
  display: block;
  width: 45px;
  height: 7px;
  background-color: black;
  border-radius: 4px;
  margin-bottom: 7px;
  border: 1px ridge rgb(255, 255, 255);
}

input {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 6;
  width: 65px;
  height: 65px;
  opacity: 0;
}

.menu_line2 {
  position: relative;
  left: -10px;
}

input:hover + .menu button span:nth-child(2) {
  left: 0;
  transition: all 0.6s ease-in-out;
}

input:checked + .menu button span {
  position: absolute;
  transition: all 0.6s ease-in-out;
}

input:checked + .menu button span:nth-child(2) {
  opacity: 0;
}

input:checked + .menu button span:nth-child(1) {
  transform: rotate(45deg);
}

input:checked + .menu button span:nth-child(3) {
  transform: rotate(-45deg);
}

.nav_menu {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;
}

input:checked + .menu nav {
  visibility: visible;
  opacity: 1;
}

.ul_menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  text-align: center;
}

.a_menu {
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Rubik", sans-serif;
  text-shadow: 0px 3px rgb(148, 148, 148);
}

.site_arrow_div {
  display: flex;
  position: relative;
}

.site_arrow {
  position: absolute;
  bottom: 15px;
  left: 50vw;
  font-size: 80px;
  color: white;
  text-shadow: 1px 2px 3px rgb(51, 51, 51);
  text-decoration: none;
}

/*-----------------------------------------------------------------------------------------
------------------------------------- SECTIONS CSS ------------------------------------------
------------------------------------------------------------------------------------------*/
main {
  display: flex;
  position: relative;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: url(assets/photos/raphael-nogueira-svbDI1Pq30s-unsplash2.jpg);
}

h2, h3, p {
  color: white;
}

h3 {
  font-size: 3.5vw;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  margin-top: 0;
  margin-left: 100px;
}

.div_h2 {
  display: flex;
}

.main_1h2 {
  font-size: 10vw;
  font-weight: 600;
  text-shadow: 1px 2px 3px rgb(51, 51, 51);
  display: block;
  position: relative;
  top: 35px;
  left: 120px;
  z-index: 1;
}

.main_2h2 {
  color: var(--secondarycolor);
  font-size: 11vw;
  position: relative;
  top: -18px;
  left: 170px;
  font-family: "Times New Roman", Times, serif;
}

p {
  font-family: "Rubik", sans-serif;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  line-height: 150%;
}

.left_part p, .right_part p {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 13px;
}

blockquote {
  padding: 20px;
  margin-top: 10px;
  color: white;
  position: relative;
  font-family: "Rubik", sans-serif;
}

.qoute {
  font-size: 20px;
  display: flex;
  margin-left: 130px;
  margin-right: 100px;
}

blockquote::before {
  content: open-quote;
  display: block;
  position: absolute;
  top: 15px;
  left: 10px;
  color: white;
  font-size: 1rem;
}

blockquote::after {
  content: close-quote;
  position: absolute;
  bottom: 5px;
  left: 105px;
  color: white;
  font-size: 1rem;
}

.link_tom {
  color: var(--primarycolor);
  -webkit-text-decoration-color: var(--primarycolor);
          text-decoration-color: var(--primarycolor);
}

.tom_arrow{
  color: var(--primarycolor);
}

.cookiepart {
  width: 99vw;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(56, 15, 66, 0.7);
  justify-content: space-between;
}

.glow {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  width: 90vw;
}

.cookiebutton {
  display: flex;
  position: relative;
  top: 10px;
}

.a_glow {
  text-decoration: none;
  font-size: 1.6vw;
  color: var(--primarycolor);
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 40px;
  text-shadow: 0 0 7px #d200a2, 0 0 10px #d200a2, 0 0 21px #d200a2, 0 0 42px #d200a2, 0 0 82px #d200a2, 0 0 92px #d200a2, 0 0 102px #d200a2, 0 0 151px #d200a2;
}

.cookiebutton {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  background-color: blue;
  border: rgba(0, 0, 255, 0.216);
  margin-right: 20px;
  text-transform: uppercase;
  color: white;
  width: 75px;
  height: 20px;
  margin-top: 15px;
}

/*---------------------------------------------------------------------------------------------
-----------------------------------------DESKTOP----------------------------------------
-----------------------------------------------------------------------------------------------*/
@media screen and (min-width: 800px) {
  h1 {
    font-size: 7vw;
  }
  .header_span_link {
    display: flex;
    right: -60%;
    left: 16vw;
    top: 60px;
  }
  .h1_br {
    display: none;
  }
  .menu_li:hover .a_menu {
    text-decoration: underline;
    -webkit-text-decoration-color: var(--primarycolor);
            text-decoration-color: var(--primarycolor);
  }
  h2 {
    height: 300px;
  }
  main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0 40px;
  }
  .main_1h2 {
    font-size: 7vw;
    top: 20px;
    left: 20px;
  }
  .main_2h2 {
    font-size: 9vw;
    top: -60px;
    left: 40px;
  }
  h3 {
    font-size: 2vw;
    margin-bottom: 25px;
    margin-left: 30px;
  }
  .left_part p, .right_part p {
    font-size: 1rem;
  }
  .left_part p {
    margin-right: 0;
    margin-left: 30px;
  }
  .right_part p {
    margin-left: 0;
    margin-right: 30px;
  }
  .qoute {
    font-size: 2rem;
    margin-right: 0;
    margin-left: 60px;
  }
  .qoute_desk {
    display: block;
  }
  .qoute_desk_text {
    background: #5C0047;
    background: linear-gradient(to top, #5C0047 0%, #6E6E6E 50%, #63004D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3vw;
    margin-left: 0;
    margin-top: 100px;
    padding-left: 0;
  }
  .left_part {
    grid-column: 1/span 2;
  }
  .right_part {
    grid-column: 4/span 2;
  }
  blockquote::before {
    font-size: 2rem;
  }
  blockquote::after {
    bottom: -5px;
    left: 155px;
    font-size: 2rem;
  }
  .major_tom {
    display: block;
    width: 90px;
    height: auto;
    float: right;
    transform: rotate(2deg);
    margin: 15px;
  }
  .tom_arrow {
    visibility: hidden;
  }
  .a_glow {
    font-size: 1vw;
  }
}/*# sourceMappingURL=main.css.map */