/*---------------------------------------------------------------------MAIN CSS---------------------------------------------------------------------------------------------------*/

*{
  box-sizing: border-box;
}

:root{
  --primarycolor:#d200a2;
  --secondarycolor:	#DCDCDC;
}



span{
  font-family: 'Rubik', sans-serif;
}

/*--------------------------------------------------------------------HEADER CSS--------------------------------------------------------------------------------------------------*/

header{
  background-size: cover; 
  background-position: center;
  height:100vh;
  background-image: url(../inl-2-kundprojekt-TessDevon/assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg);
  display: flex;  
}
.header_cube{
  border: 5px solid black;
  position: relative;
  top: 10vh;
  left: 10vw;
  width: 200px;
  height: 225px;
}

h1{
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin-top: 10px;
}

.header_link{
text-decoration: none;
color: black;
margin-left: 10px;
}
  
.link_text, .link_arrow{
text-decoration-color: black;
}

/*
--------Pilen ska flytta sig till höger.---------------------------------
--------Undersöker detta när jag gjort min checklist för dagen klar---------------

.header_span_link:hover .header_link{
  display: flex;
  justify-content: space-between;
}

.header_link{
  left: -5px;
  position: relative;
  transition: left 0.5s ease-in-out;
}
*/

#menu-button{
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: block;
  margin-right: 20px;

  
  /*
  --------------------------Problem när jag ska fixera menyn.-----------------------------------------------------------------
  --------------------------Linjerna går upp på en rad och när man markerar menyn täcker den bara en smal bit av bilden.--------------
  --------------------------Behövs det alt en div runt som i sin tur blir den som är flexad? Kollar upp det senare..----------
  -------------------------- Lades den i div tappar den java...---------------------------
  display: flex;
  position: fixed;
  top: 15px;
  right: 15px;*/
  
}

#menu-button:hover .menu2{
  left: 0;
}

.menu1{
  background-color: black;
  width: 100%;
  height: 3px;
  display: block;
  margin-bottom: 4px;
  border-radius: 4px;
}

.menu2{
  background-color: black;
  width: 100%;
  height: 3px;
  display: block;
  margin-bottom: 4px;
  border-radius: 4px;
  left: -5px;
  position: relative;
  transition: left 0.5s ease-in-out;
}
 
.menu{
  background-size: 100%;
  height: 1500px;
  background-color: rgb(255, 255, 255, 0.7);
} 

.menu_li{
  list-style: none;
}

button + .menu {
  display: none;
  opacity: 0;
  visibility: hidden;
}
  
button.menu-open + .menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

/*----------------------------------------------------------------body css-------------------------------------------------------------------------------------------------------*/


/*
  h1{
  font-family: 'Rubik', sans-serif;
  }

Exempel på hur man använder var
  .p-dark{
  color: var(--dark);
}

.p-gold{
  color:var(--primarycolor)
}